/** responsive Styles **/
@media screen and (max-width: 1140px) {
  .game-arena {
    width: 100%;
  }
}

@media screen and (max-width: 590px) {
    .game-details {
        flex-direction: column;
    }

    .scores {
        padding: 20px;
    }

    .player-options {
        flex-direction: column;
        align-items: center;
    }

    .choice {
        width: 150px;
        height: 150px;
        font-size: 6rem;
        margin: 20px 10px;
    }
}

@media screen and (max-width: 335px) {
    .copyright {
        font-size: 12px;
    }
    .scores {
        font-size: 8px;
    }
}