
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* font-size: 62.5%; */
}

:root {
  --bg: #242222;
  --accent1: #00ffc3;
  --accent2: #ff3cac;
  --text: #ffffff;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.game-arena {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-direction: column;
  background-color: var(--bg);
  color: var(--accent1);
  min-height: 100vh;
  width: 70%;
}

.title, .instructions {
  margin-top: 20px;
  margin-bottom: 20px;
}

.game-title {
  text-align: center;
}

.game-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px
}

.start, .play-again, .reset {
  margin: 5px 15px;
}

.start:hover, .play-again:hover, .reset:hover {
  cursor: pointer;
}

.game-details {
  /* border: 2px dotted var(--accent2); */
  padding: 5px 10px;
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.computer-display, .player-display {
  border: 4px dotted var(--accent2);
  height: 300px;
  width: 300px;
  margin: auto;
}

.game-results {
  text-align: center;
}

.computer-display, .player-display {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 10rem;
  text-align: center;
}

.player-options {
  display: flex;
  justify-content: center;
}

.rock, .paper, .scissors {
  background-color: antiquewhite;
  margin: 10px;
  width: 250px;
  height: 150px;
  font-size: 6rem;
  border-radius: 12px;
  text-align: center;
}

.rock:hover, .paper:hover, .scissors:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.footer {
  background-color: #141f1c;
  color: var(--accent1);
  width: 70%;
  padding: 2rem;
}